<div class="search">
  <div class="container">

    <div class="section-heading">
      <h1>
        <%= t ".text" %>
      </h1>
      <p>
        <%= t ".introduce_first" %>
      </p>
      <p>
        <%= t ".introduce_second" %>
      </p>
    </div>
    <div class="input-group">
      <p class="form-text">
        <%= t ".title-search" %>
      </p>
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="<%= t(".input_hotel") %>">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="<%= t(".received_date") %>" >
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="<%= t(".pay_day") %>" >
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2 mt-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" id="btnLocation">
            <%= t ".get_location" %></button>
        </span>
      </div>
      <div class="col-md-2 mt-1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary">
            <%= t ".search" %></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="cor-form ">
  <div class="page_width">
    <div class="desktop-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-slide-desktop" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("1.jpg") %>
          </div>
        </div>
      </div>
    </div>
    <div class="phone-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-slide-phone" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag("11.jpg") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("22.jpg") %>
          </div>
          <div class="carousel-item">
            <%= image_tag("33.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
