<div class="container">
  <div class="row">
    <div class="name-hotel">

      <h3>Khách sạn Daewoo Hanoi</h3>
      360 Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, Hà Nội
    </div>
  </div>
  <div class="row img-hotel">
    <div class="col-md-6">
      <%= image_tag "img-6.jpg" %>
    </div>
    <div class="col-md-3">
      <%= image_tag "img-3.jpg" %>
    </div>
    <div class="col-md-3">
      <%= image_tag "img3.1.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "img5.jpg" %>
    </div>
    <div class="col-md-3">
      <%= image_tag "img5.jpg" %>
    </div>
    <div class="col-md-3">
      <%= image_tag "img6.jpg" %>
    </div>
    <div class="col-md-3">
      <%= image_tag "img6.jpg" %>
    </div>
  </div>
  <div class="row service">
    <div class="col-md-3">
      <p>Dịch vụ kèm theo : </p>
    </div>
    <div class="col-md-9">
      <%= image_tag "wifi.png" %> Wifi
      <%= image_tag "p.png" %> Bãi Đỗ Xe
      <%= image_tag "restaurant.png" %> Nhà Hàng
    </div>
  </div>
  <div class="room-type">
    <div class="row single-bed">
      <%= image_tag "s-bed.jpg", class: "col-md-2" %>
      <div class="col-md-9">
        <h3>Single Bed</h3>
        <p>
          1 Giường (180 x 200)
          Diện tích : 24m2
          Điều hòa
        </p>
      </div>
    </div>
  </div>
  <div class="single-bed-detail">
    <div class="col-md-3">
      <%= image_tag "avatar.png" %> x 2
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
  <div class="double-bed">
  </div>
</div>