<div class="container">
  <div class="row">
    <%= image_tag "img6.jpg", class: "col-md-2" %>
    <div class="col-md-9">
      <h3>Ten Khách san</h3>
      <p>
        360 Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, Hà Nội
      </p>
    </div>

    <%= form_tag hotel_path, method: :get do  %>
    <div class="input-group">
      <p class="form-text">
      </p>
      <div class="col-md-3">
        <%= text_field_tag "pay", nil, placeholder: "ngày nhận" %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag "received", nil, placeholder: "ngày trả" %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag "number", nil, placeholder: "số phòng đăt" %>
      </div>
      <div class="col-md-3">
          <%= submit_tag t(".update-price"), class: "btn btn-primary" %>
        </div>
      <div class="col-md-3">
        <%= text_field_tag "nick-name", nil, placeholder: t(".nick-name") %>
      </div>
      <div class="col-md-4">
        <%= text_field_tag "first-name", nil, placeholder: t(".first-name") %>
      </div>
      <div class="col-md-4">
        <%= text_field_tag "last-name", nil, placeholder: t(".last-name") %>
      </div>


      <div class="col-md-8">
        <%= text_field_tag "phone", nil, placeholde: t(".phone") %>
      </div>
      <div class="col-md-8">
        <%= text_field_tag "email", nil, placeholder: t(".email") %>
      </div>
      <div class="col-md-4">
        <p>
          <%= t".comfirm-email" %>
        </p>
      </div>
      <div class="col-md-12">
        <%= text_area(:area, nil,col: 12, rows: 4) %>
      </div>
      <div class="col-md-4 offset-md-4">
          <%= submit_tag "Oke", class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
  </div>
</div>
